{{#if addStory}}
  <div class="row">
    <form class="" action="index.html" method="post">
      <div class="col-md-6">
          <label class="form-group" for="title">Title</label>
          {{input class="form-control" value=title id="title"}}
          <label class="form-group"  for="author">Author</label>
          {{input class="form-control" value=author id="author"}}
          <label class="form-group"  for="teaser">teaser text</label>
          {{input class="form-control" value=teaser id="teaser"}}
          <label class="form-group"  for="image">Image URL</label>
          {{input class="form-control" value=image id="image"}}
          <label class="form-group"  for="tags">tags</label>
          {{input class="form-control" value=tags id="tags"}}
          <label class="form-group"  for="category">category</label>
          {{input class="form-control" value=category id="category"}}
      </div>
      <div class="col-md-6">
        <label class="form-group"  for="body">Body</label>
        {{textarea class="form-control" rows=18 value=body id="body"}}
        <br>
          {{#if article}}
          <button class="btn" {{action "updateArticle" article}}>Update</button>
          {{else}}
          <button class="btn" {{action "saveArticle"}}>Save</button>
          {{/if}}
      </div>
  </form>
  </div>
{{else}}
    {{#if article}}
      <button class="btn btn-sm" {{action 'showUpdateStoryForm'}}>Update</button>
    {{else}}
    <div class="center">
      <button class="btn" {{action 'showAddStoryForm'}}>Add A New Story</button>
    </div>
    {{/if}}
{{/if}}
