<!-- {{#if openSearch}}
<form class="" action="index.html" method="post">
  <label for="searchByAuthor">Search By Author</label>
  {{input placeholder=searchByAuthor id=searchByAuthor}}
  <button class="btn" {{action "searchByAuthor"}}>Search by Author</button>
</form>
{{else}}
<button class="btn" {{action "showSearch"}}>Search, Sucka!</button>
{{/if}}
{{yield}} -->
